<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MapleDX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MapleDX.Properties.Settings>
            <setting name="ChOne" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mSettings" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ZakumBx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MagnusBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HillaBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainBarValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="compBarVal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="arcBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="voteBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="guildBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monsterBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="commerciBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vjBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chuBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lachBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="arcBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rootBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hornBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ranBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pinkBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="golluxBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cZakumBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cygnusBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cRootBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cPinkBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bossBarValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="damBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="arkBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="akeBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dNellBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gloomBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lotusBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lucidBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="willBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tenBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="esferaBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="morassBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="absoBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="legionBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fpqBX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alarmTimeValue" serializeAs="String">
                <value>03/17/2021 05:15:25</value>
            </setting>
            <setting name="almTimeText" serializeAs="String">
                <value>label2</value>
            </setting>
            <setting name="seePrevAlarm" serializeAs="String">
                <value>False</value>
            </setting>
        </MapleDX.Properties.Settings>
    </userSettings>
</configuration>